<%- include("../partials/head") %>
	<h1>DriveCord</h1>
	<label for="file">Upload File(s)</label>
	<input type="file" name="file" id="file" multiple>
	<button>upload</button>
<%- include("../partials/feet") %>