<%- include("../partials/head") %>
	<h1>DriveCord</h1>
	<input id="username" type="text" placeholder="username">
	<input id="password" type="password" placeholder="password">
	<input id="server" type="password" placeholder="server">
	<button id="signup">signup</button>
	<button id="login">login</button>
	<%- include("../scripts/landing") %>
<%- include("../partials/feet") %>