<%- include("../partials/head") %>
	<h1>landing</h1>
	<input id="username" type="text" placeholder="username">
	<input id="password" type="password" placeholder="password">
	<input id="serverid" type="password" placeholder="serverid">
	<button id="authenticate">authenticate</button>
<%- include("../partials/feet") %>