<%- include("../partials/head") %>
	<h1>landing</h1>
	<input id="username" type="text" placeholder="username">
	<input id="password" type="password" placeholder="password">
	<input id="server" type="password" placeholder="server">
	<button id="authenticate">authenticate</button>
	<%- include("../scripts/landing") %>
<%- include("../partials/feet") %>